<style>
  body {background-color: #f7f9f9;}
  h1   {color: blue;}
  p    {color: red;}
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 135px;
    cursor: pointer;
  }
  .buttonWarn {background-color: #f44336;} /* Red */
  .buttonDisabled {background-color: #e7e7e7; color: black;} /* Gray */
  .buttonPressed {background-color: #555555;} /* Black */


  .control {
     float: left;
     margin: 0px;
     padding: 10px;
     max-width: 140px;
     min-height: 480px;
     border: 1px solid white;
     background: #eff4f4;
  }

  .controlCompas {
     float: left;
     margin: 0px;
     padding: 0px;
     border: 1px solid white;
     background: #eff4f4;

  }

</style>
 
