<style>

  p{}

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 135px;
    cursor: pointer;

  }

  .buttonWarn {background-color: #f44336;} /* Red */
  .buttonDisabled {background-color: #e7e7e7; color: black;} /* Gray */
  .buttonPressed {background-color: #555555;} /* Black */


  .control {
     float: left;
     margin: 0px;
     padding: 10px;
     max-width: 140px;
     min-height: 480px;
     border: hidden gray;


  }

  .controlCompas {
     float: left;
     margin: 0px;
     padding: 0px;
     border: 1px hidden gray;

  }

  #connectionString {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


}

</style>
