  html {
  	/* http://www.webcore-it.com/colorful-background/#   */
  height: 100%;
	font-family: Arial;
	
	background:
		-webkit-linear-gradient(45deg, hsla(247, 100%, 14%, 1) 0%, hsla(247, 100%, 14%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(193, 95%, 39%, 1) 10%, hsla(193, 95%, 39%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(228, 90%, 20%, 1) 10%, hsla(228, 90%, 20%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(272, 95%, 4%, 1) 100%, hsla(272, 95%, 4%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(247, 100%, 14%, 1) 0%, hsla(247, 100%, 14%, 0) 70%),
		linear-gradient(135deg, hsla(193, 95%, 39%, 1) 10%, hsla(193, 95%, 39%, 0) 80%),
		linear-gradient(225deg, hsla(228, 90%, 20%, 1) 10%, hsla(228, 90%, 20%, 0) 80%),
		linear-gradient(315deg, hsla(272, 95%, 4%, 1) 100%, hsla(272, 95%, 4%, 0) 70%);
	}
  	.control {
     float: left;
     padding: 15px 50px;
    /* max-width: 600px; */
     width: 500px;
     border: hidden gray; 
     margin: auto;
     display: block;
  }
  
  .controlCompass {
     float: left;
     margin: 0px;
     padding: 0px;
     border: 1px hidden gray;
     padding: 15px 50px;

  }

  .button {
    background-color: #0052cc;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width:100%;
    height: 8%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
  }

  .buttonWarn {background-color: #f44336;} /* Red */
  .buttonDisabled {background-color: #e7e7e7; color: gray; cursor: not-allowed} /* Gray */
  .buttonPressed {background-color: #555555; cursor: wait} /* Black */


  #connectionString {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
  }
  
div.box {
    border-radius: 4px;
    width:100%; height:250px;
    overflow:auto;
    
    
    
	background:
		-webkit-linear-gradient(45deg, hsla(195, 54%, 27%, 1) 0%, hsla(195, 54%, 27%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(193, 55%, 44%, 1) 10%, hsla(193, 55%, 44%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(195, 54%, 41%, 1) 10%, hsla(195, 54%, 41%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(193, 53%, 24%, 1) 100%, hsla(193, 53%, 24%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(195, 54%, 27%, 1) 0%, hsla(195, 54%, 27%, 0) 70%),
		linear-gradient(135deg, hsla(193, 55%, 44%, 1) 10%, hsla(193, 55%, 44%, 0) 80%),
		linear-gradient(225deg, hsla(195, 54%, 41%, 1) 10%, hsla(195, 54%, 41%, 0) 80%),
		linear-gradient(315deg, hsla(193, 53%, 24%, 1) 100%, hsla(193, 53%, 24%, 0) 70%);
		
		
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    
    margin-bottom:0px; 
    margin-top:180px; 
    
}
 

p {
	margin-left:20px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family:  Courier, monospace;
}

p.error {
	color: orange;
}

h1 {
  background: #ccc;
  width: 100%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;	
}

.modalDialog > div {
	position: relative;
	margin: 1% auto;
	padding: 5px;
	border-radius: 4px;
	background: #fff;
	max-width: 600px;
	max-height: 600px;
	vertical-align: middle;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	border-radius: 4px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

#openModal map {
  margin:auto;
  display:block;
  display: inline-block;
  height: 150px;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

.right {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: auto;
    width:49%;
    float: right;
}

.left {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: 0px;
    width:49%;
    float: left;
}

